.about{
    display: grid;
    grid-template-columns: 35% 50%;
    gap:15%;
}

.me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.myImage{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.myImage:hover{
    transform: rotate(0deg);
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card{
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.icons{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card h5{
    font-size: 0.9rem;
}

.card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

@media screen and (max-width: 1024px) {
    .about{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .me{
        width: 50%;
        margin: 2rem auto 4rem ;
    }

    .content p{
        margin: 1rem 0 1.5rem;
    }


}

/* Media queries for small devices */
@media screen and (max-width: 600px) {
    .content{
        text-align: center;
    }

    .content p{
        margin: 1.8rem;
    }
}